%header
  .header-top
    %p グループを作成しました
  .header-left
    %p test-user
  .header-right
    %p test-group
    =link_to("Edit", "/")
.contents
  .contents__left-content
    %p test-group
    %p さようなら！
    %p sample-group
    %p hello!
    %p example
    %p まだメッセージがありません

  .contents__main-content
    %p test-user
    %p こんにちは！
    %p test-user
    %p さようなら！
%footer  
  .footer-left
    
      
    %end  
  .footer-right