%header
  .header
    .header__header-top
      %p グループを作成しました
    .header__header-left
      %p test-user
    .header__header-right
      %p.header__header-right--header-group test-group
      %p.header__header-right--header-name Members: seo neko
      =link_to "Edit", root_path, class: "edit"
.contents
  .contents__left-content
    %p test-group
    %p さようなら！
    %p sample-group
    %p hello!
    %p example
    %p まだメッセージがありません

  .contents__main-content
    %p test-user
    %p こんにちは！
    %p test-user
    %p さようなら！
%footer  
  .footer-left
    
      
    %end  
  .footer-right