// @import "variable";
body, html {
  height: 100%;
}
 .header {
   background-color: #38AEF0;
   text-align: center;
   color: white;
   }
.contents {
  height: 100%;
  width: 100vh;
  &__left-content {
    width: 300px;
    background-color: #2f3e51;
    height: 100%;
    &--left-header {
      height: 96px;
      background-color: #253141;
      border-bottom: 1px solid #eeeeee;
      line-height: 96px;
      padding: 0 20px;
      &__left-header-text {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
  
}